// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$yellow: #A7F3FF;

body {
  background: $yellow; // Using this variable
  font-family: 'Josefin Sans', sans-serif;
};

a {
  text-decoration: none;
  &:hover {
    color: #ffa500;
    transition-delay: 20ms;
  }
}

